@using Pilat.Eshop.Web.Areas.Admin.Controllers
@model Product

@{
    if (String.IsNullOrWhiteSpace(ViewBag.Action) == false)
    {
    <form asp-action="@ViewBag.Action" method="post" enctype="multipart/form-data">
        @{
            if (ViewBag.Action == nameof(ProductController.Edit))
            {
                <input type="hidden" asp-for="ID" class="form-control">
            }
        }

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter img source">
        </div>

        <div class="form-group">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" type="text" class="form-control" placeholder="Enter category">
        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="text" class="form-control" placeholder="Enter img source">
        </div>

        <div class="form-group">
            <label asp-for="Image">Image Source</label>
            <input asp-for="Image" class="form-control-file" accept="image/*" placeholder="Enter img source">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    }
}

